# OS & Editors
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Environment Variables
.env
.env.local
.env.*.local

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.plan

# Sensitive Keys
*.pem
*.key
certs/

#For Ansible environment
ansible/inventory.ini
ansible/dev/control.Dockerfile
ansible/dev/docker-compose.yml
ansible/dev/target.Dockerfile
