events {
    worker_connections 1024;
}

http {
    resolver 127.0.0.11 valid=10s;

    upstream frontend_upstream { server sbs_frontend:5173; }
    upstream backend_upstream  { server sbs_backend:8080; }

    # Redirect HTTP to HTTPS
    server {
        listen 80;
        server_name {{ certbot_domains | join(' ') }};

        location / {
            return 301 https://$host$request_uri;
        }
    }

    # HTTPS Server
    server {
        listen 443 ssl;
        server_name {{ certbot_domains | join(' ') }};

        # Dynamically uses the first domain for the folder path
        ssl_certificate     /etc/letsencrypt/live/{{ certbot_domains[0] }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ certbot_domains[0] }}/privkey.pem;


        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_prefer_server_ciphers on;

        # Shared Proxy Headers
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        location / {
            proxy_pass http://frontend_upstream;
        }

        location /api/ {
            proxy_pass http://backend_upstream;
        }

        location ~ ^/(oauth2|login/oauth2)/ {
            proxy_pass http://backend_upstream;
            proxy_set_header X-Forwarded-Port $server_port;
        }
    }
}